/* Defina o estilo para o elemento pai (a seção de sorteio) */
.sorteio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Estilize o contêiner interno para o formulário */
  .formulario {
    text-align: center;
  }
  
  /* Estilize o resultado */
  .resultado {
    text-align: center;
  }
  
  /* Estilize o botão */
  .sortear {
    margin-top: 10px;
  }